<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>

<body ng-app="day1App">
	<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Add your site or application content here -->
	<div ng-controller="AppCtrl" layout="column" style="height:100%;" ng-cloak>
		<section layout="row" flex>
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<!-- サイドバーコンテンツ -->
				<md-toolbar class="md-theme-indigo">
					<h1 class="md-toolbar-tools">サイドバー</h1>
				</md-toolbar>
				<md-content layout-padding ng-controller="LeftCtrl">
					<md-button ng-click="close()" class="md-primary" hide-gt-md>
						サイドバーを閉じる
					</md-button>
					<div>
						サイドバーコンテンツ
					</div>
				</md-content>
				<!-- サイドバーコンテンツ -->
			</md-sidenav>

			<md-content flex layout-padding>
				<!-- メインコンテンツ -->
				<div layout="column" layout-fill layout-align="top center">
					<md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
						サイドバーを表示
					</md-button>
				</div>
				<div>
					メインコンテンツ
				</div>
				<!-- メインコンテンツ -->
			</md-content>
		</section>
	</div>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/about.js"></script>
	<script src="scripts/controllers/sidenav.js"></script>
	<!-- endbuild -->
</body>

</html>
